.output-box {
  width: 346px;
  margin: 20px auto;
}

.btn-start-game {
  width: 125px;
  height: 60px;
  font-size: 20px;
  font-family: sans-serif;
  background-color: silver;
  border: 2px solid;
  border-radius: 8px;
}

.player-info {
  font-size: 20px;
  font-family: monospace;
}
